<%- include('../partials/header') %>

<section id="show-page">
   <img src="<%= sitterListing.userAvatar%>" alt="<%= sitterListing.userName%>">

<h2>  <%= sitterListing.userName  %>  </h2>

<h3>  <%= sitterListing.location %>  </h3>

<td>
  <% if (user?._id.equals(sitterListing.user)) { %>
    <form action="/sitterListings/<%= sitterListing._id %>/services" method="POST">
      <label>Service:
        <select name="service">
            <option value="Dog Sitting">Dog Sitting</option>
            <option value="Dog Walking">Dog Walking</option>
            <option value="Boarding">Boarding</option>
            <option value="Drop-In Visit">Drop-In Visit</option>
           
        </select>
</label>
<input type="number" name="price">

      <button type="submit">add service</button>
    </form>
    <form action="/sitterListings/<%= sitterListing._id %>/photos" method="POST">
      <input type="text" name="photoUrl">

      <button type="submit">add photo</button>
    </form>
  <% } %>
</td>
<div>
  <table>
    <tbody>
      <% services.forEach(function(service) { %>
        <tr>
          <td> <%= service.service %></td>
         <td> <%= service.price %></td>
         <% if (user?._id.equals(service.user)) { %>
          <td>
          <form action="/services/<%= service._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete your service</button>
          </form>
          </td>
        </tr>
        <% } %>
      <% }) %>
    </tbody>
  </table>
</div>
<div>
  <table>
    <tbody>
      <% photos.forEach(function(photo) { %>
        <tr>
          <td> <img src="<%= photo.photoUrl%>" alt="<%= photo.userName%>"></td>
          <% if (user?._id.equals(photo.user)) { %>
            <td>
            <form action="/photos/<%= photo._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete your photo</button>
            </form>
            </td>
          </tr>
          <% } %>
      <% }) %>
    </tbody>
  </table>
</div>
<td> 
  <br>
<% if (user?._id.equals(sitterListing.user)) { %>
  <form action="/sitterListings/<%= sitterListing._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete your Listing</button>
  </form>
<% } %>
</td>

<%- include('../partials/footer') %>